<div id="game"></div>
<script data-main="libs/main" src="deps/node_modules/requirejs/require.js"></script>
<script type="text/javascript">
  window.fun = <%= raw @game.as_json(include: :hexes) %>
</script>